body {
  font-family: sans-serif;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(white_00013.jpg);
  background-size: cover;
}

input {
  border-radius: 5px;
  padding: 10px 20px;
  border-width: thin;
  outline: none;
}

button {
  border-radius: 5px;
  padding: 8px 15px;
  margin: 10px 0;
  background-color: white;
  border-width: thin;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px black;
}

button:active {
  box-shadow: none;
}

.input-area {
  width: 500px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  background-color: rgb(218, 214, 214);
}

.incomplete-area {
  width: 500px;
  min-height: 250px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  background-color: rgb(218, 214, 214);
}

.complete-area {
  width: 500px;
  min-height: 250px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  background-color: rgb(218, 214, 214);
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
